.home-section{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 1050px;
}
.filtro{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 100%;
    background: linear-gradient(rgba(0,0,0,0),#0f0f0f);
}
.home-section-video-c{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.home-section-video{
    width: 100%;
}

.home-section-info-c{
    max-width: 1265px;
    height: 864px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: transparent;
    position: relative;
    bottom: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: home-animation 0.5s linear;
}
.home-section-info, .home-section-img{
    height: 100%;
    display: flex; 
}
.home-section-info{
    flex-direction: column;
    justify-content: center;
    flex: 2;
}
.home-section-img{
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.home-section-img img{
    height: 70%;
    text-shadow: 0 0 10px #000;
}
.home-section-title{
    font-size: 3.5rem;
     
}
.title-name{
    background-color: #a778f3;
    background-image: var(--color-gradient);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.title-text{
    text-shadow: 0 0 1px #000,0 0 1px #000,0 0 1px #000,0 0 1px #000;
}
.home-section-description{
    font-size: 1.4rem;
    text-align: justify;
    text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
}
.home-section-btn-1{
    font-size: 1.5rem;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: var(--text-white);
    background: var(--color-gradient);
    cursor: pointer;
}

.home-section-btn-2{
    font-size: 1.5rem;
    border: 2px solid var(--text-white);
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: var(--text-white);
    background-color: transparent;
    cursor: pointer;
}
.home-section-btn-2:hover{
    background: var(--color-gradient);
}
.home-section-btn-1:hover{
    background: linear-gradient(135deg,rgba(255,0,134,1) 0%,rgba(233,0,212,1) 25%,rgba(214,0,255,1) 50%,rgba(98,0,255,1) 75%,rgba(0,255,184,1) 100%);
}

@keyframes home-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width:1919px){
    .home-section-video{
        width: auto;
    }
}
@media screen and (min-width:767px) and (max-width:1023px) {

    .home-section-title{
        font-size: 2.5rem;
    }
    .home-section-img img{
        height: 60%;
    }
    .home-section-description, .home-section-btn-c button {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:767px){
    
    .home-section-info-c{
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }
    .home-section-info, .home-section-img{
        height: 50%;
        width: 100%;
    }
    .home-section-img{
        justify-content: center;
    }
    .home-section-img img{
        height: 70%;
        margin-bottom: 80px;
    }
    .home-section-title{
        font-size: 2.2rem;
        text-align: center;
    }
    .home-section-description{
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        
    }
    .home-section-btn-c{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .home-section-btn-c button{
        margin: 0;
        padding: 5px 10px;
    }
}

@media screen and (max-width:460px){
     .home-section-title{
        font-size: 2rem;
    }
    .home-section-description, .home-section-btn-c button {
        font-size: 1rem;
    } 
}

