.learnmore-section1, .learnmore-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--text-white);
}
.learnmore-section1{
    min-height: 100vh;
    min-height: 100svh;
    background: linear-gradient(var(--bgcolor-body)20%,#333333 100%); 
}
.learnmore-section2{
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(#333333 0%,var(--bgcolor-body) 100%);
    overflow: hidden;

}

.learnmore-section1-c, .learnmore-section2-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 560px;
}

.learnmore-section1-img, .learnmore-section2-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 100%;
    position: relative;
}
.learnmore-section1-img img, .learnmore-section2-img img{
    width: 80%;
    height: 70%;
    z-index: 10;
    border-radius: 20px;
    box-shadow: 0 0 25px 5px #00aeff2c;
}


.learnmore-section1-info-c, .learnmore-section2-info-c, .learnmore-section1-img,.learnmore-section2-img{
    flex: 1;
}

.learnmore-section1-info-c h1, .learnmore-section2-info-c h1{
    font-size: 4.2rem;
    margin-left: 15px;
    background-color: #a778f3;
    background-image: var(--color-gradient);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
}
.learnmore-section1-info-c p, .learnmore-section2-info-c p{
    font-size: 1.8rem;
    width: 80%;
    margin-left: 15px;
    text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
}
.learnmore-section2-info-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.animation1{
    margin-top: 0;
    animation: scroll-animation1 1.5s ease;
}
.animation2{
    animation: scroll-animation2 1.5s ease;
}
.animation3{
    animation: scroll-animation3 1.5s ease; 
}
.hidden{
    opacity: 0;
}

@keyframes scroll-animation1{
    0%{
        opacity: 0;
        transform: translateY(400px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scroll-animation2{
    0%{
        opacity: 0;
        transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes scroll-animation3{
    0%{
        opacity: 0;
        transform: translateX(500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width:1023px){
    .learnmore-section1-c{
        flex-direction: column;
        height: 100%;
    }
    .learnmore-section2-c{
        flex-direction: column-reverse;
        height: 100%;
    }
    
    .learnmore-section1-info-c h1, .learnmore-section2-info-c h1{
        font-size: 3.5rem;
        text-align: center;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .learnmore-section1-info-c p, .learnmore-section2-info-c p{
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
    }


@media screen and (max-width:767px){
    
    .learnmore-section1-info-c h1, .learnmore-section2-info-c h1{
        font-size: 3rem;
    } 
    .learnmore-section1-info-c p, .learnmore-section2-info-c p{
        font-size: 1.2rem;
    }
    .learnmore-section1-img img, .learnmore-section2-img img{
        width: 90%;
    }
}
}