.signup-c{
    position: absolute;
    color: #080808;
    text-align: center;
    width: 790px;
    height: 690px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--text-white);

}
.signup-c h1{
    font-size: 3rem;
}
.signup-c form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.form-c{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 50px;
    width: 100%;
    font-size: 1.5rem;
}
.form-c input{
    outline: none;
    border-radius: 20px;
    padding-left: 8px;
    height: 50px;
    font-size: 1rem;
    background-color: var(--text-white);
}
.form-c span{
    font-size: 1rem;
    color: #ff1b1b;
}
.signup-c button{
    font-size: 1.5rem;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 20px;
    color: var(--text-white);
    background: var(--color-gradient);
    cursor: pointer;
}
.signup-c button:hover{
    background: linear-gradient(135deg,rgba(255,0,134,1) 0%,rgba(233,0,212,1) 25%,rgba(214,0,255,1) 50%,rgba(98,0,255,1) 75%,rgba(0,255,184,1) 100%);
}
.form-error{
    border: 1px solid #ff1b1b;
}
.form-normal{
    border: 2px solid #000;
}
@media screen and (max-width:1023px){

    .signup-c{
        width: 98%;
        height: 590px;
    }
}

@media screen and (max-width:767px){
    .signup-c h1{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .form-c, .signup-c button{
        font-size: 1.2rem;
    }
   
}
